* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: edelsans_regular;
  src: url('../fonts/edelsans_regular.otf');
}

@font-face {
  font-family: edelsans_ultralight;
  src: url('../fonts/edelsans_ultralight.otf');
}

html, body {
  font-family: edelsans_ultralight;
  height: 100%;
  background-color: #000;
  color: #fff;
}

.slider {
  height: 100%;
}

.slider__layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  will-change: transform;
}

.slider__item {
  overflow: hidden;
}

.slider__wrapper {
  will-change: transform;
}